body {
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    margin: 0;
    padding: 0;
}

.dark-theme {
    text-align: center;
    color: #e9e6e6;
}

.dark-theme h1 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-bottom: 100px;
}

.dark-theme.active h1 {
    color: rgb(0, 0, 0, 0.7);
}

.btn {
    width: 60px;
    height: 35px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    padding: 0;
    margin: 0 auto;
    cursor: pointer;
}

.btn span {
    transition: 0.3s;
    width: 32px;
    height: 32px;
    background-color: #ccc;
    box-shadow: 0px 2px 10px black;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
}